modules = ["web", "nodejs-20"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 46478629
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
